:root {
  // brand colors
  --c-brand: #0c4dc4;
  --c-brand-light: #0b3788;

  scroll-behavior: smooth;
}

html.dark {
  // brand colors
  --c-brand: #1fa8f8;
  --c-brand-light: #3bb3f8;
}

.sidebar-item.collapsible {
  cursor: pointer;
}

.site-name.can-hide {
  display: none;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--c-bg);
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  min-width: 100vw;
  min-height: 100vh;
}

.code-group {
  width: 100%;
  max-width: calc(100vw - 3rem);
}

.theme-default-content div[class*='language-'] {
  width: calc(100% + 3rem);
  max-width: 100vw;
}

.theme-default-content .code-group div[class*='language-'] {
  width: auto;
  max-width: auto;
}
