# registry = "https://registry.npmmirror.com"

sass_binary_site = "https://cdn.npmmirror.com/binaries/node-sass"
phantomjs_cdnurl = "https://npmmirror.com/package/downloads"
electron_mirror = "https://registry.npmmirror.com/binary.html?path=electron/"
sqlite3_binary_host_mirror = "https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror = "https://registry.npmmirror.com/binary.html?path=node-inspector/"
chromedriver_cdnurl = "https://cdn.npmmirror.com/binaries/chromedriver"


# pnpm 子线程交叉打印
stream = true

# pnpm 工作区中的本地包是否优先于注册表中的包
prefer-workspace-packages = true

# pnpm 将 monorepo 工作区中的本地可用包链接到 node_modules，而不是从注册表重新下载它们。
link-workspace-packages = true

# 依赖提升
public-hoist-pattern[] = *types*
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = *stylelint*
public-hoist-pattern[] = @prettier/plugin-*
public-hoist-pattern[] = *prettier-plugin-*
public-hoist-pattern[] = prettier
public-hoist-pattern[] = *jest*
public-hoist-pattern[] = *rollup*
public-hoist-pattern[] = *babel*
public-hoist-pattern[] = core-js
public-hoist-pattern[] = regenerator-runtime
public-hoist-pattern[] = esbuild
public-hoist-pattern[] = *conventional*
public-hoist-pattern[] = jsdom
public-hoist-pattern[] = postcss*

hoist-pattern[] = typescript
hoist-pattern[] = @vue/*
hoist-pattern[] = vue-template-compiler
hoist-pattern[] = vue-template-es2015-compiler
hoist-pattern[] = *vuepress*
hoist-pattern[] = *plop*
hoist-pattern[] = vue-demi

# for doc-site
hoist-pattern[] = nprogress
